extends ../layout

block content
	div
		h3 Atualizar Restaurantes
	div
		if messages.erro
			div
				button(type="button", class="close", data-dismiss="alert", aria-label="Close")
				each msg in messages.erro
					span= msg
					br
				br
		form(method="POST", action="/restaurantes/edit/#{dados._id}")
			fieldset
				legend Dados
				label Nome do Restaurante
				input(type="text", placeholder="Nome do Restaurante", name="nome", value="#{dados.nome}", autofocus, required)
				button(class="btn btn-success create", type="submit")  
					| 
					|Salvar
		a(href="/restaurantes")
			| 
			|Cancelar